<div class="header-2">
    <div class="page-header header-filter" style="background-image: url('assets/img/examples/card-blog4.jpg'); height:400px;">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-left">
            <h2 class="title">About us</h2>
            <!-- <h4>Now you have no excuses, it's time to surprise your clients, your competitors, and why not, the world. You probably won't have a better chance to show off all your potential if it's not by designing a website for your own agency or web studio.</h4> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="projects-4" id="projects-4">

		<div class="container">
			<!-- <div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<h2 class="title">Some of Our Awesome Projects - 4</h2>
					<h5 class="description">This is the paragraph where you can write more details about your projects. Keep you user engaged by providing meaningful information.</h5>
					<div class="section-space"></div>
				</div>
			</div> -->
			<div class="row">

				<div class="col-md-5 col-md-offset-1">

					<div class="info info-horizontal">
						<div class="description">
              <h5 class="">WE ARE ELEGANT LIFE</h5>
              <h2 class="visible-lg visible-md hidden-sm">YOUR AUTOMATION PARTNER</h2>
              <h4 class="hidden-lg hidden-md">Make Your Home Smarter</h4>
							<p class="description">
                ELEGANT LIFE offers a wide range of automation solutions for Home, Buildings, Public Infrastructure and Retail businesses. Our solutions have been developed to provide ultimate satisfaction to our customers.
              </p>
              <br>
              <P class="description">
                All our products have been carefully engineered from ground up to provide you seamless control while being affordable.
              </P>
              <button class="btn btn-primary btn-round">
               Help Me Automation
              </button>
						</div>
					</div>
				</div>

				<div class="col-md-5">
          <img class="img img-responsive img-raised" src="assets/img/home-auto/about-1.jpg" alt="">
					<!-- <div class="card card-background" style="background-image: url('assets/img/home-auto/about-1.jpg')">
						<a href="#pablo">
						</a>
						<div class="card-content">
							
							<p class="card-description">
								Don't be scared of the truth because we need to restart the human foundation in truth.
							</p>
						</div>
					</div> -->
        </div>     
			</div>

		</div>
	</div>
  <div class="pricing-5 section-gray" id="pricing-5">
  
    <div class="container iconAbout">
      <div class="row">
        <div class="col-md-4 text-center">
            <i class="fa fa-television fa-5x" aria-hidden="true"></i>
            <h5>Affordable</h5>
        </div>
        <div class="col-md-4 text-center">
            <i class="fa fa-lightbulb-o fa-5x" aria-hidden="true"></i>
            <h5>Flexible</h5>
        </div>
        <div class="col-md-4 text-center">
            <i class="fa fa-bolt fa-5x" aria-hidden="true"></i>
            <h5>Expandable</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="team-1" id="team-1">

      <div class="container">
        <!-- <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h2 class="title">Our Awesome Team 1</h2>
            <h5 class="description">This is the paragraph where you can write more details about your team. Keep you user engaged by providing meaningful information.</h5>
          </div>
        </div> -->
        <h5 class="text-center">Our Team</h5>
        <h2 class="visible-lg visible-md hidden-sm text-center">The Best Professionals</h2>
        <h4 class="hidden-lg hidden-md text-center">The Best Professionals</h4>
  
        <div class="row">
          <div class="col-md-3">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#pablo">
                  <img class="img" src="assets/img/faces/marc.jpg">
                </a>
              </div>
  
              <div class="card-content">
                <h4 class="card-title">Alec Thompson</h4>
                <h6 class="category text-muted">CEO / Co-Founder</h6>
  
                <p class="card-description">
                  And I love you like Kanye loves Kanye. We need to restart the human foundation.
                </p>
                <div class="footer">
                  <a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
                  <a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook"><i class="fa fa-facebook-square"></i></a>
                  <a href="#pablo" class="btn btn-just-icon btn-simple btn-google"><i class="fa fa-google"></i></a>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-3">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#pablo">
                  <img class="img" src="assets/img/faces/kendall.jpg">
                </a>
              </div>
  
              <div class="card-content">
                <h4 class="card-title">Tania Andrew</h4>
                <h6 class="category text-muted">Designer</h6>
  
                <p class="card-description">
                  Don't be scared of the truth because we need to restart the human foundation. And I love you like Kanye loves Kanye.
                </p>
                <div class="footer">
                  <a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
                  <a href="#pablo" class="btn btn-just-icon btn-simple btn-dribbble"><i class="fa fa-dribbble"></i></a>
                  <a href="#pablo" class="btn btn-just-icon btn-simple btn-linkedin"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-3">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#pablo">
                  <img class="img" src="assets/img/faces/christian.jpg">
                </a>
              </div>
  
              <div class="card-content">
                <h4 class="card-title">Christian Mike</h4>
                <h6 class="category text-muted">Developer</h6>
  
                <p class="card-description">
                  I love you like Kanye loves Kanye. Don't be scared of the truth because we need to restart the human foundation.
                </p>
                <div class="footer">
                  <a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook"><i class="fa fa-facebook-square"></i></a>
                  <a href="#pablo" class="btn btn-just-icon btn-simple btn-dribbble"><i class="fa fa-dribbble"></i></a>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-3">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#pablo">
                  <img class="img" src="assets/img/faces/avatar.jpg">
                </a>
              </div>
  
              <div class="card-content">
                <h4 class="card-title">Rebecca Stormvile</h4>
                <h6 class="category text-muted">Client Manager</h6>
  
                <p class="card-description">
                  Don't be scared of the truth because we need to restart the human foundation.
                </p>
                <div class="footer">
                  <a href="#pablo" class="btn btn-just-icon btn-simple btn-google"><i class="fa fa-google"></i></a>
                  <a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
                  <a href="#pablo" class="btn btn-just-icon btn-simple btn-dribbble"><i class="fa fa-dribbble"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>
    <div class="header-2">
        <div class="page-header header-filter" style="background-image: url('assets/img/home-auto/service-3.jpg');height: 600px;">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-left">
                  <h5 class="">Smart Home</h5>
                  <h2 class="visible-lg visible-md hidden-sm">The Key<br> To Peace of Mind</h2>
                  <h4 class="hidden-lg hidden-md">The Key to Pease of Mind</h4>
                  <p>
                    You have the opportunity to watch over your home <br>from anywhere and at any time of day or night. A smart house has excellent video quality,<br> live streaming and two-way audio.
                  </p>
                  <button class="btn btn-primary btn-round">
                    Request a Home Tour
                  </button>
              </div>
            </div>
          </div>
        </div>
      </div>
