<div class="header-2">
    <div class="page-header header-filter" style="background-image: url('assets/img/examples/card-blog4.jpg'); height:400px;">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-left">
            <h2 class="title">Products</h2>
            <!-- <h4>Now you have no excuses, it's time to surprise your clients, your competitors, and why not, the world. You probably won't have a better chance to show off all your potential if it's not by designing a website for your own agency or web studio.</h4> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container ProductContain">
      <div class="row">
          <div class="col-md-4">
              <div class="box">
                  <h3>Shopping Cart</h3>
              </div>
              <br>
                <div class="box">
                    <p>No products in the cart.</p>
                </div>
                <br>
                <div class="box">
                    <h3>Price Filter</h3>
                </div>
                <br>
                <div class="box1">
                    <div id="sliderRegular" class="slider">
                    </div>
                    <p> Price :$168 - $255</p>

                    <button class="btn btn-info btn-round">Filter</button>
                </div>
                
                <div class="box">
                    <h3>Categories</h3>
                </div>
                <br>
                <div class="box2">
                   
                        <a href="#">Accessories</a>
                        <br>
                        <a href="#">Cameras</a>
                        <br>
                        <a href="#">Entry Phones</a>
                        <br>
                        <a href="#">Light Bulbs</a>
                        <br>
                        <a href="#">Motion Detectors</a>
                        <br>
                        <a href="#">Uncategorized</a>
                        <br>
                        <a href="#">Wifi Routers</a>
                        <br>
                    
                </div>
                <div class="box">
                    <h3>Tags</h3>
                </div>
                <br>

                <div class="box4">
                    <button class="btn btn-default btn-round">
                        ECO-FRIENDLY</button>
                    <br>
                    <button class="btn btn-default btn-round">
                        HOUSE</button>
                    <button class="btn btn-default btn-round">
                        KNOW HOW</button>
                    <br>
                    <button class="btn btn-default btn-round">
                        MODERN</button>
                    <button class="btn btn-default btn-round">
                        NEW</button>
                    <br>
                    <button class="btn btn-default btn-round">
                        POPULAR</button>
                </div>
            </div>
            
            <div class="pic">
                <div class="col-md-6">
                    <i class="fa fa-th fa-3x" aria-hidden="true">Showing 1–6 of 10 results</i>
                    <br>
                    <br>
                    <br>
                    <div class="col-md-6">
                        <img id="img" class="img-responsive" src="assets/img/product/product-1-copyright-370x440.jpg" width="350">
                        <a href="#">
                            <span>Ring Wi-Fi Enabled Video Doorbell</span>
                        </a>
                        
                            <img class="img-responsive" src="assets/img/product/5-stars.png" width="100">
                            <p>$169.00 – $179.00</p>
                            <button class="btn btn-info btn-round">ADD TO CARD</button>
                        
                    </div>
                    <div class="col-md-6">
                        <img id="img" class="img-responsive" src="assets/img/product/product-2-copyright-370x440.jpg" width="350">
                        <a href="#">
                            <span>Mini Broadband Router iB-WRB314N Router</span>
                        </a>
                       
                            <img class="img-responsive" src="assets/img/product/5-stars.png" width="100">
                            <p>$225.00 – $225.00</p>
                            <button class="btn btn-info btn-round">ADD TO CARD</button>
                        
                    </div>
                    <div class="col-md-6">
                        <img id="img" class="img-responsive" src="assets/img/product/product-3-copyright-370x440.jpg" width="350">
                        <a href="#">
                            <span>
                                Universal Smart Things Smart Home Hub</span>
                        </a>
                        
                            <img class="img-responsive" src="assets/img/product/5-stars.png" width="100">
                            <p>$164.00 – $174.00</p>
                            <button class="btn btn-info btn-round">ADD TO CARD</button>
                        
                    </div>
                    <div class="col-md-6">
                        <img id="img" class="img-responsive" src="assets/img/product/product-4-copyright-370x440.jpg" width="350">
                        <a href="#">
                            <span>Smart LED Light Bulb, Wi-Fi, Dimmable White</span>
                        </a>
                       
                            <img class="img-responsive" src="assets/img/product/5-stars.png" width="100">
                            <p>$190.00 – $196.00</p>
                            <button class="btn btn-info btn-round">ADD TO CARD</button>
                       
                    </div>
                    <div class="col-md-6">
                        <img id="img" class="img-responsive" src="assets/img/product/product-5-copyright-370x440.jpg" width="350">
                        <a href="#">
                            <span>Modern Echo Dot 2nd Generation</span>
                        </a>
                        
                            <img class="img-responsive" src="assets/img/product/5-stars.png" width="100">
                            <p>$100.00 – $125.00</p>
                            <button class="btn btn-info btn-round">ADD TO CARD</button>
                      
                    </div>
                    <div class="col-md-6">
                        <img id="img" class="img-responsive" src="assets/img/product/product-6-copyright-370x440.jpg" width="350">
                        <a href="#">
                            <span>HD Wi-Fi Home Video Monitoring Security Camera</span>
                        </a>
                        
                            <img class="img-responsive" src="assets/img/product/5-stars.png" width="100">
                            <p>$150.00 – $160.00</p>
                            <button class="btn btn-info btn-round">ADD TO CARD</button>
                        
                    </div>
                </div>
                <div class="col-md-2">
                    <select class="selectpicker" data-style="btn btn-info btn-round" title="Single Select" data-size="7">
                        <option value="popularity">Sort by popularity</option>
                        <option value="rating">Sort by average rating</option>
                        <option value="date" selected="selected">Sort by newness</option>
                        <option value="price">Sort by price: low to high</option>
                        <option value="price-desc">Sort by price: high to low</option>
                    </select>
                </div>
            </div>

  </div>