<div class="header-2">
    <div class="page-header header-filter" style="background-image: url('assets/img/examples/card-blog4.jpg'); height:400px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-left">
                    <h2 class="title">Products</h2>
                    <!-- <h4>Now you have no excuses, it's time to surprise your clients, your competitors, and why not, the world. You probably won't have a better chance to show off all your potential if it's not by designing a website for your own agency or web studio.</h4> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container productContainer">
    <div class="row">
        <div class="col-md-4 col-sm-3">
            <div class="box">
                <h3>Shopping Cart</h3>
            </div>
            <br>
            <div class="box">
                <p>No products in the cart.</p>
            </div>
            <br>
           


            <div class="box">
                <h3>Categories</h3>
            </div>
            <br>
            <div class="box2">

                <a href="#">Accessories</a>
                <br>
                <a href="#">Cameras</a>
                <br>
                <a href="#">Entry Phones</a>
                <br>
                <a href="#">Light Bulbs</a>
                <br>
                <a href="#">Motion Detectors</a>
                <br>
                <a href="#">Uncategorized</a>
                <br>
                <a href="#">Wifi Routers</a>
                <br>

            </div>
            <div class="box">
                <h3>Tags</h3>
            </div>
            <br>
            <div class="box4">
                <button class="btn btn-default btn-round mx-auto ">
                    ECO-FRIENDLY</button>
                <button class="btn btn-default btn-round align-middle">
                    HOUSE-RENT</button>
                <br>
                <button class="btn btn-default btn-round">
                    KNOW HOW</button>
                <button class="btn btn-default btn-round">
                    MODERNED</button>
                <br>
                <button class="btn btn-default btn-round">
                    NEW--HIIT</button>
                <button class="btn btn-default btn-round">
                    POPULAR</button>
            </div>
        </div>
        <br>
        <i class="fa fa-th fa-3x ShowIcon" aria-hidden="true" style="font-size:20px;">Showing 1–6 of 10 results
        </i>
        <br>
        <br>
        <div class="pic">
            <div class="col-md-4 col-sm-4">



                <div class="img1">
                    <div class="card-content content-primary">
                        <img id="img" class="img-responsive mx-auto" src="assets/img/product/product-1-copyright-370x440.jpg" width="280">
                        <div class="center">
                            <a class="category text-gray" href="#">
                                <span>Ring Wi-Fi Enabled Video Doorbell</span>
                            </a>
                            <img class="img-responsive" src="assets/img/product/5-stars.png" width="100">
                            <h3 class="card-title">$129-$178</h3>
                            <button href="#pablo" class="btn btn-info btn-round">ADD CARD</button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="img1">
                    <div class="card-content">
                        <img id="img" class="img-responsive" src="assets/img/product/product-2-copyright-370x440.jpg" width="280">
                        <div class="center">
                            <a class="category text-gray" href="#">
                                <span>Mini Broadband Router14N Router</span>
                            </a>
                            <img class="img-responsive" src="assets/img/product/5-stars.png" width="100">
                            <h3 class="card-title">$179-$188</h3>
                            <button class="btn btn-info btn-round">ADD CARD</button>
                        </div>
                    </div>
                </div>

                <br>

                <div class="img1">
                    <div class="card-content">
                        <img id="img" class="img-responsive" src="assets/img/product/product-3-copyright-370x440.jpg" width="280">
                        <div class="center">
                            <a class="category text-gray" href="#">
                                <span>Universal Smart Things Smarthub</span>
                            </a>
                            <img class="img-responsive" src="assets/img/product/5-stars.png" width="100">
                            <h3 class="card-title">$189-$188</h3>
                            <button class="btn btn-info btn-round">ADD CARD</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       
        <div class="pic">
            <div class="col-md-4 col-sm-4">
                <div class="img1">
                    <div class="card-content">
                        <img id="img" class="img-responsive" src="assets/img/product/product-4-copyright-370x440.jpg" width="280">
                        <div class="center">
                            <a class="category text-gray" href="#">
                                <span>Smart LED Light Bulb, Wi-Fi</span>
                            </a>
                            <img class="img-responsive" src="assets/img/product/5-stars.png" width="100">
                            <h3 class="card-title">$199-$188</h3>
                            <button class="btn btn-info btn-round">ADD CARD</button>
                        </div>
                    </div>
                </div>



                <br>
                <div class="img1">
                    <div class="card-content">
                        <img id="img" class="img-responsive" src="assets/img/product/product-5-copyright-370x440.jpg" width="280">
                        <div class="center">
                            <a class="category text-gray" href="#">
                                <span>Modern Echo Dot 2nd Generation</span>
                            </a>
                            <img class="img-responsive" src="assets/img/product/5-stars.png" width="100">
                            <h3 class="card-title">$299-$288</h3>
                            <button href="#pablo" class="btn btn-info btn-round">ADD CARD</button>
                        </div>
                    </div>
                </div>


                <br>

                <div class="img1">
                    <div class="card-content">
                        <img id="img" class="img-responsive" src="assets/img/product/product-6-copyright-370x440.jpg" width="280">
                        <div class="center">
                            <a class="category text-gray" href="#">
                                <span>HD Wi-Fi Home Monitoring Camera</span>
                            </a>
                            <img class="img-responsive" src="assets/img/product/5-stars.png" width="100">
                            <h3 class="card-title">$299-$288</h3>
                            <button href="#pablo" class="btn btn-info btn-round">ADD CARD</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>