<div class="header-2">
  <div class="page-header header-filter" style="background-image: url('assets/img/bg11.jpg');height:400px;">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-left">
          <h2 class="title">Services</h2>
          <!-- <h4>Now you have no excuses, it's time to surprise your clients, your competitors, and why not, the world. You probably won't have a better chance to show off all your potential if it's not by designing a website for your own agency or web studio.</h4> -->
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <h5 class="text-center">Our services</h5>
  <h2 class="visible-lg visible-md hidden-sm text-center">The Ultimate All-in-one Smart Home Service Provider</h2>
  <h4 class="hidden-lg hidden-md text-center">The Ultimate All-in-one Smart Home Service Provider</h4>
  <div class="row">
    <div class="col-md-6">
      <div class="card card-plain card-blog">
        <div class="card-image">
          <a href="#pablo">
            <img class="img img-raised" src="assets/img/home-auto/service-1.jpg">
          </a>
          <div class="colored-shadow" style="background-image: url(&quot;assets/img//home-auto/service-1.jpg&quot;); opacity: 1;"></div>
          <div class="ripple-container"></div>
        </div>

        <div class="card-content">
          <h6 class="category text-info">Control Lighting</h6>
          <!-- <h4 class="card-title">
                  <a href="#pablo">Autodesk looks to future of 3D printing with Project Escher</a>
                </h4> -->
          <p class="card-description">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonum nibh euismod tincidunt ut laoreet dolore magna aliquam
            erat volutpat. Ut wisi enim ad minim veniam.
            <a href="#pablo"> Read More </a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-plain card-blog">
        <div class="card-image">
          <a href="#pablo">
            <img class="img img-raised" src="assets/img/home-auto/service-2.jpg">
          </a>
          <div class="colored-shadow" style="background-image: url(&quot;assets/img/home-auto/service-2.jpg&quot;); opacity: 1;"></div>
          <div class="ripple-container"></div>
        </div>

        <div class="card-content">
          <h6 class="category text-info">Adjust Climate</h6>
          <!-- <h4 class="card-title">
										<a href="#pablo">Autodesk looks to future of 3D printing with Project Escher</a>
									</h4> -->
          <p class="card-description">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonum nibh euismod tincidunt ut laoreet dolore magna aliquam
            erat volutpat. Ut wisi enim ad minim veniam.
            <a href="#pablo"> Read More </a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-plain card-blog">
        <div class="card-image">
          <a href="#pablo">
            <img class="img img-raised" src="assets/img/home-auto/service-3.jpg">
          </a>
          <div class="colored-shadow" style="background-image: url(&quot;assets/img/home-auto/service-3.jpg&quot;); opacity: 1;"></div>
          <div class="ripple-container"></div>
        </div>

        <div class="card-content">
          <h6 class="category text-info">Use Eco Energy</h6>
          <!-- <h4 class="card-title">
                      <a href="#pablo">Autodesk looks to future of 3D printing with Project Escher</a>
                    </h4> -->
          <p class="card-description">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonum nibh euismod tincidunt ut laoreet dolore magna aliquam
            erat volutpat. Ut wisi enim ad minim veniam.
            <a href="#pablo"> Read More </a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-plain card-blog">
        <div class="card-image">
          <a href="#pablo">
            <img class="img img-raised" src="assets/img/home-auto/service-4.jpg">
          </a>
          <div class="colored-shadow" style="background-image: url(&quot;assets/img/home-auto/service-4.jpg&quot;); opacity: 1;"></div>
          <div class="ripple-container"></div>
        </div>

        <div class="card-content">
          <h6 class="category text-info">Home Security</h6>
          <!-- <h4 class="card-title">
                        <a href="#pablo">Autodesk looks to future of 3D printing with Project Escher</a>
                      </h4> -->
          <p class="card-description">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonum nibh euismod tincidunt ut laoreet dolore magna aliquam
            erat volutpat. Ut wisi enim ad minim veniam.
            <a href="#pablo"> Read More </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pricing-5 section-gray" id="pricing-5">

  <div class="container">
    <div class="row">

      <h5 class="text-center">Choose Your Plan</h5>
      <h2 class="visible-lg visible-md hidden-sm text-center">Smart Home Packges</h2>
      <h4 class="hidden-lg hidden-md text-center">Smart Home Packges</h4>
      <div class="col-md-4">
        <div class="card card-pricing card-raised">
          <div class="card-content">
            <h6 class="category">From</h6>
            <h1 class="card-title">
              <small>$</small>200
              <small>/mo</small>
            </h1>
            <ul>
              <li>
                <h4>Home Security</h4>
                <li>
                  Get smart home security and sleep easier</li>
            </ul>
            <a href="#pablo" class="btn btn-primary btn-round">
              INFO
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-pricing card-raised">
          <div class="card-content">
            <h6 class="category">From</h6>
            <h1 class="card-title">
              <small>$</small>600
              <small>/mo</small>
            </h1>
            <ul>
              <li>
                <h4>Home Automation</h4>
                <li>
                  Communication and control in one place</li>
            </ul>
            <a href="#pablo" class="btn btn-primary btn-round">
              INFO
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-pricing card-raised">
          <div class="card-content">
            <h6 class="category">From</h6>
            <h1 class="card-title">
              <small>$</small>299
              <small>/mo</small>
            </h1>
            <ul>
              <li>
                <h4>Security Cameras</h4>
                <li>
                  Keep your eye on what matters most places</li>
            </ul>
            <a href="#pablo" class="btn btn-primary btn-round">
              INFO
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-12 text-center">
        <button class="btn btn-primary btn-round">
          Request a Quote
        </button>
      </div>


    </div>

  </div>
</div>
<div class="projects-4" id="projects-4">

  <div class="container">
    <!-- <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="title">Some of Our Awesome Projects - 4</h2>
        <h5 class="description">This is the paragraph where you can write more details about your projects. Keep you user engaged by providing meaningful information.</h5>
        <div class="section-space"></div>
      </div>
    </div>

  

    <hr> -->
    <h5 class="text-center">CUSTOMERS REVIEWS</h5>
      <h2 class="visible-lg visible-md hidden-sm text-center">Happy House Owners 
        About Us</h2>
      <h4 class="hidden-lg hidden-md text-center">Happy House Owners 
        About Us</h4>
    <div class="row">

      <div class="col-lg-5 col-lg-offset-1 col-md-12">
        <div id="carousel-testimonial" class="carousel slide" data-ride="carousel">

					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<div class="card card-testimonial card-plain">
								<div class="card-avatar">
									<a href="#pablo">
										<img class="img" src="assets/img/faces/kendall.jpg">
									</a>
								</div>

								<div class="card-content">
									<h5 class="card-description">"I speak yell scream directly at the old guard on behalf of the future."
									</h5>
									<h4 class="card-title">Kendall Thompson</h4>
									<!-- <h6 class="category text-muted">CEO @ Marketing Digital Ltd.</h6> -->
									<div class="footer">
										<i class="material-icons text-warning">star</i>
										<i class="material-icons text-warning">star</i>
										<i class="material-icons text-warning">star</i>
										<i class="material-icons text-warning">star</i>
										<i class="material-icons text-warning">star</i>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="card card-testimonial card-plain">
								<div class="card-avatar">
									<a href="#pablo">
										<img class="img" src="assets/img/faces/christian.jpg">
									</a>
								</div>

								<div class="card-content">
									<h5 class="card-description">"Thank you Anna for the invite thank you to the whole Vogue team Called."
									</h5>
									<h4 class="card-title">Christian Louboutin</h4>
									<!-- <h6 class="category text-muted">Designer @ Louboutin &amp; Co.</h6> -->
									<div class="footer">
										<i class="material-icons text-warning">star</i>
										<i class="material-icons text-warning">star</i>
										<i class="material-icons text-warning">star</i>
										<i class="material-icons text-warning">star</i>
									</div>
								</div>
							</div>
						</div>
					</div>

					<a class="left carousel-control" href="#carousel-testimonial" role="button" data-slide="prev">
						<i class="material-icons" aria-hidden="true">chevron_left</i>
					</a>
					<a class="right carousel-control" href="#carousel-testimonial" role="button" data-slide="next">
						<i class="material-icons" aria-hidden="true">chevron_right</i>
					</a>
				</div>
      </div>

      <div class="col-md-5 hidden-md">
        <div class="card card-background" style="background-image: url('assets/img/home-auto/service-4.jpg');height: 450px;">
          <a href="#pablo">
          </a>
          <div class="card-content">
            <!-- <label class="label label-rose">Client: DJ Khaled</label>
            <a href="#pablo">
              <h2 class="card-title">Another One</h2>
            </a>
            <p class="card-description">
              Don't be scared of the truth because we need to restart the human foundation in truth.
            </p> -->
          </div>
        </div>
      </div>

    </div>

  </div>
</div>