<div class="header-2">
  <div class="page-header header-filter" style="background-image: url('assets/img/bg11.jpg');height:400px;">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-left">
          <h2 class="title">Services</h2>
          <!-- <h4>Now you have no excuses, it's time to surprise your clients, your competitors, and why not, the world. You probably won't have a better chance to show off all your potential if it's not by designing a website for your own agency or web studio.</h4> -->
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <h5 class="text-center">Our services</h5>
  <h2 class="visible-lg visible-md hidden-sm text-center">The Ultimate All-in-one Smart Home Service Provider</h2>
  <h4 class="hidden-lg hidden-md text-center">The Ultimate All-in-one Smart Home Service Provider</h4>
  <div class="row">
    <div class="col-md-6">
      <div class="card card-plain card-blog">
        <div class="text-center">
          <a href="#pablo">
            <img class="img img-raised" src="assets/img/smoke.png" style="width:150px">
          </a><div class="colored-shadow" style="background-image: url(&quot;assets/img//home-auto/service-1.jpg&quot;); opacity: 1;"></div>
        </div>

        <div class="text-center">
          <h6 class="category text-info">Smoke/ Fire Detection</h6>
          <!-- <h4 class="card-title">
                  <a href="#pablo">Autodesk looks to future of 3D printing with Project Escher</a>
                </h4> -->
          <p class="card-description">
              In case of smoke or fire in your home, our intelligent sensors sense it and notify the how owner immediately to address the issue.
            <a href="#pablo"> Read More </a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-plain card-blog">
        <div class="text-center">
          <a href="#pablo">
            <img class="img img-raised" src="assets/img/motion.png" style="width:150px;">
          </a>
          <div class="colored-shadow" style="background-image: url(&quot;assets/img/home-auto/service-2.jpg&quot;); opacity: 1;"></div>
          <div class="ripple-container"></div>
        </div>

        <div class="text-center">
          <h6 class="category text-info">Motion Sensor (Burglar Alarm)</h6>
          <!-- <h4 class="card-title">
										<a href="#pablo">Autodesk looks to future of 3D printing with Project Escher</a>
									</h4> -->
          <p class="card-description">
              Our Motion Sensor is programmed to sense and alert you of any abnormal movement when you are away from home. Whether you are away from home on a shopping spree or enjoying your vacation or in a business meeting – our system is always alert.
            <a href="#pablo"> Read More </a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-plain card-blog">
        <div class="text-center">
          <a href="#pablo">
            <img class="img img-raised" src="assets/img/gas.png" style="width:150px; text-align: center">
          </a>
        
        </div>

        <div class="text-center">
          <h6 class="category text-info">Gas leakage detection</h6>
          <!-- <h4 class="card-title">
                      <a href="#pablo">Autodesk looks to future of 3D printing with Project Escher</a>
                    </h4> -->
          <p class="card-description">
              Our Gas Leakage sensor alerts you as soon as there is a leakage. Whether you forgot to switch off your gas stove or the gas leakage occurs due to a defective pipe – you are immediately alerted to take timely action.
            <a href="#pablo"> Read More </a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-plain card-blog">
        <div class="text-center">
          <a href="#pablo">
            <img class="img" src="assets/img/elderly.png" style="width:150px;">
          </a>
        </div>

        <div class="text-center">
          <h6 class="category text-info">Elderly Care (emergency button)</h6>
          <!-- <h4 class="card-title">
                        <a href="#pablo">Autodesk looks to future of 3D printing with Project Escher</a>
                      </h4> -->
          <p class="card-description">
              we have elderly parent at home – their well being and safety is of great priority. To address this, we have developed an Emergency Button that can be set-up by their bed-side. They can press this or use voice command to ask for emergency help or seek medical aid.
            <a href="#pablo"> Read More </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" style="background:lightgray">
  <div class="install">
    <div class="row text-center">
      <div class="col col-md-12">
          <h4>INSTALLATION PROCESS</h4>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-12">
        <img class="img-responsive" src="assets/img/Installation-new.jpg">
      </div>
    </div>
  </div>
</div>




<div class="pricing-5 section-gray" id="pricing-5">

  <div class="container">
    <div class="row">

      <h5 class="text-center">Choose Your Plan</h5>
      <h2 class="visible-lg visible-md hidden-sm text-center">Smart Home Packges</h2>
      <h4 class="hidden-lg hidden-md text-center">Smart Home Packges</h4>
      <div class="col-md-4">
        <div class="card card-pricing card-raised">
          <div class="card-content">
            <h6 class="category">From</h6>
            <h1 class="card-title">
              <small>$</small>200
              <small>/mo</small>
            </h1>
            <ul>
              <li>
                <h4>Home Security</h4>
                <li>
                  Get smart home security and sleep easier</li>
            </ul>
            <a href="#pablo" class="btn btn-primary btn-round">
              INFO
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-pricing card-raised">
          <div class="card-content">
            <h6 class="category">From</h6>
            <h1 class="card-title">
              <small>$</small>600
              <small>/mo</small>
            </h1>
            <ul>
              <li>
                <h4>Home Automation</h4>
                <li>
                  Communication and control in one place</li>
            </ul>
            <a href="#pablo" class="btn btn-primary btn-round">
              INFO
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-pricing card-raised">
          <div class="card-content">
            <h6 class="category">From</h6>
            <h1 class="card-title">
              <small>$</small>299
              <small>/mo</small>
            </h1>
            <ul>
              <li>
                <h4>Security Cameras</h4>
                <li>
                  Keep your eye on what matters most places</li>
            </ul>
            <a href="#pablo" class="btn btn-primary btn-round">
              INFO
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-12 text-center">
        <button class="btn btn-primary btn-round">
          Request a Quote
        </button>
      </div>


    </div>

  </div>
</div>
<div class="projects-4" id="projects-4">

  <div class="container">
    <!-- <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="title">Some of Our Awesome Projects - 4</h2>
        <h5 class="description">This is the paragraph where you can write more details about your projects. Keep you user engaged by providing meaningful information.</h5>
        <div class="section-space"></div>
      </div>
    </div>

  

    <hr> -->
    <h5 class="text-center">CUSTOMERS REVIEWS</h5>
      <h2 class="visible-lg visible-md hidden-sm text-center">Happy House Owners 
        About Us</h2>
      <h4 class="hidden-lg hidden-md text-center">Happy House Owners 
        About Us</h4>
    <div class="row">

      <div class="col-lg-5 col-lg-offset-1 col-md-12">
        <div id="carousel-testimonial" class="carousel slide" data-ride="carousel">

					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<div class="card card-testimonial card-plain">
								<div class="card-avatar">
									<a href="#pablo">
										<img class="img" src="assets/img/faces/kendall.jpg">
									</a>
								</div>

								<div class="card-content">
									<h5 class="card-description">"It has been 2 months now since alai labs automated our home.The installation process was simple.The engineers wew very supportive and knowledgeable.I received quotaions from various home automation companies and selecting Alai Labs was a no brainer.We are really happy with the descision and are definitely enjoying the benifits of onnected device.I feel the mode and schedule features of the system are really useful and we are already looking at a reduction in electricity bill.i would definitely recommend them to my fridend and family"
									</h5>
									<h4 class="card-title">UMASANKAR S</h4>
									<!-- <h6 class="category text-muted">CEO @ Marketing Digital Ltd.</h6> -->
									<div class="footer">
										<i class="material-icons text-warning">star</i>
										<i class="material-icons text-warning">star</i>
										<i class="material-icons text-warning">star</i>
										<i class="material-icons text-warning">star</i>
										<i class="material-icons text-warning">star</i>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="card card-testimonial card-plain">
								<div class="card-avatar">
									<a href="#pablo">
										<img class="img" src="assets/img/faces/christian.jpg">
									</a>
								</div>

								<div class="card-content">
									<h5 class="card-description">"A few months back we were facing some security issuse in our locality.Even though there was not an event of theft it was always a concern for me since unknown people were roaming around in our neighborhood.My friends recommended CCTV Cameras but I was looking for something that can notify me when there was unauthorized entry.After some research,i got to konw about the home automation & security system from Alai Labs.I got in touch with them and one of theri representatives clearly explained me how i can secure my home using the latest loT technology.when he finished explaining i felt like 'this is exactly what i wanted'.i got my home completely automated within a couple of days.These days i feel totally secure when travel outside and moreover with their app,i'm able to control my home from anywere.we are loving it...Thank You alai labs"
									</h5>
									<h4 class="card-title">SIVARAMAN</h4>
									<!-- <h6 class="category text-muted">Designer @ Louboutin &amp; Co.</h6> -->
									<div class="footer">
										<i class="material-icons text-warning">star</i>
										<i class="material-icons text-warning">star</i>
										<i class="material-icons text-warning">star</i>
										<i class="material-icons text-warning">star</i>
									</div>
								</div>
							</div>
						</div>
					</div>

					<a class="left carousel-control" href="#carousel-testimonial" role="button" data-slide="prev">
						<i class="material-icons" aria-hidden="true">chevron_left</i>
					</a>
					<a class="right carousel-control" href="#carousel-testimonial" role="button" data-slide="next">
						<i class="material-icons" aria-hidden="true">chevron_right</i>
					</a>
				</div>
      </div>

      <div class="col-md-5 hidden-md">
        <div class="card card-background" style="background-image: url('assets/img/home-auto/service-4.jpg');height: 450px;">
          <a href="#pablo">
          </a>
          <div class="card-content">
            <!-- <label class="label label-rose">Client: DJ Khaled</label>
            <a href="#pablo">
              <h2 class="card-title">Another One</h2>
            </a>
            <p class="card-description">
              Don't be scared of the truth because we need to restart the human foundation in truth.
            </p> -->
          </div>
        </div>
      </div>

    </div>

  </div>
</div>