<div class="header-3">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <div class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
        <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <div class="page-header header-filter" style="background-image: url('assets/img/home/slide-1.jpg');height: 450px;;">

            <div class="container">
              <div class="row">
                <div class="col-md-6 text-left">
                  <h2>ADVANCED
                    <br>AUTOMATION<br>
                    SOLUTIONS</h2>
                  <div class="childhead">
                      <span style="font-weight:bold">SMART | AFFORDABLE | PREDICTABLE</span>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="item">
          <div class="page-header header-filter" style="background-image: url('assets/img/home/slide-2.jpg');height: 450px;">

            <div class="container">
              <div class="row">
                <div class="col-md-6 text-left">
                  <h5>WE ARE ALL ABOUT</h5>
                  <h1>Improving your
                    <br>Quality of Life</h1>
                  <div class="buttons">
                    <a href="#pablo" class="btn btn-primary btn-lg">
                      REQUEST A HOME TOUR
                    </a>
                  </div>

                </div>
              </div>
            </div>

          </div>

        </div>

      </div>

      <!-- Controls -->
      <!-- <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <i class="material-icons">keyboard_arrow_left</i>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <i class="material-icons">keyboard_arrow_right</i>
    </a> -->
    </div>
  </div>

</div>
<div class="pricing-5 section-gray helpLineBody" id="pricing-5">
  <div class="container helpLine">
    <div class="row">
       <div class="col-md-8 col-sm-8 text-center">
         <h3>Live MORE Worry LESS</h3>
       </div>
       <!-- <div class="col-md-1 col-sm-1 text-right">
        
       </div> -->
       <!-- <div class="col-md-4 col-sm-4 text-center iconCall">
          <a href="index.html">
							<i class="material-icons">call</i> Call 123-234-12
						<div class="ripple-container"></div></a>
       </div> -->
       <div class="col-md-3 col-sm-3 text-center">
          <div class="buttons">
              <a href="#pablo" class="btn btn-lg">
              Help Me Automate
              </a>
            </div>
       </div>

    </div>
  </div>
</div>
<div class="pricing-5 section-gray" id="pricing-5">
    <div class="container helpLine">
      <div class="row">
          <div class="col-md-6">
							<div class="card card-plain card-blog">
								<div class="card-image">
									<a href="#pablo">
										<img class="img img-raised" src="assets/img/home/home-1.jpg">
									</a>
								<div class="colored-shadow" style="background-image: url(&quot;assets/img/home/home-1.jpg&quot;); opacity: 1;"></div></div>

								<div class="card-content">
									<h6 class="category text-info">WE ARE ELEGANT LIFE</h6>
									<h2 class="card-title">
										<a href="#pablo">YOUR AUTOMATION PARTNER</a>
									</h2>
									<p class="card-description">
                    ELEGANT LIFE offers a wide range of automation solutions for Home, Buildings, Public Infrastructure and Retail businesses. Our solutions have been developed to provide ultimate satisfaction to our customers.							
                  <br><br>All our products have been carefully engineered from ground up to provide you seamless control while being affordable		</p>
								</div>
							</div>
            </div>
            <div class="col-md-6 FeaturesCards">
                <div class="row">
                  <div class="col-md-6">
                      <div class="card card-pricing card-raised">
                          <div class="card-content">
                            <div class="icon">
                                <i class="material-icons">
                                    camera_enhance
                                    </i>
                            </div>
                            <h3 class="card-title">Security &<br>
                                Surveillance</h3>
                          </div>
                        </div>
                  </div>
                  <div class="col-md-6">
                      <div class="card card-pricing card-raised">
                          <div class="card-content">
                            <div class="icon">
                                <i class="material-icons">
                                    cloud_queue
                                    </i>
                            </div>
                            <h3 class="card-title">Free Cloud<br>
                              Recording</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-pricing card-raised">
                            <div class="card-content">
                              <div class="icon">
                                  <i class="material-icons">
                                      notification_important
                                      </i>
                              </div>
                              <h3 class="card-title">Smart<br>
                                Alerts</h3>
                            </div>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="card card-pricing card-raised">
                              <div class="card-content">
                                <div class="icon">
                                    <i class="material-icons">
                                        computer
                                        </i>
                                </div>
                                <h3 class="card-title">24x7<br>
                                    Monitoring</h3>
                               </div>
                            </div>
                        </div>
                </div>
            </div>
      </div>
    </div>
 </div>
 <div class="container helpLine">
    <div class="row">
        <h5 class="text-center">HOW IT WORKS</h5>
        <h2 class="visible-lg visible-md hidden-sm text-center">Smart Home Security<br> 
          Like Never Before</h2>
        <h4 class="hidden-lg hidden-md text-center">Smart Home Security <br>
          Like Never Before</h4>
        <div class="col-md-12 text-center">
          <img class="img img-responsive img-raised" src="assets/img/home/home-2.jpg" alt="">
            <!-- <div class="page-header header-filter" style="background-image: url('assets/img/home/home-2.jpg');">
              <div class="container">
                  <div class="row">
          
                  </div>
              </div>
          </div> -->
        </div>
    </div>
 </div>
 <div class="projects-4 section-gray" id="projects-4">

		<div class="container helpLine">
			<!-- <div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<h2 class="title">Some of Our Awesome Projects - 4</h2>
					<h5 class="description">This is the paragraph where you can write more details about your projects. Keep you user engaged by providing meaningful information.</h5>
					<div class="section-space"></div>
				</div>
			</div> -->
			<div class="row">

				<div class="col-md-5 col-md-offset-1">

					<div class="info info-horizontal">
						<div class="description">
              <h5 class="">WELCOME</h5>
              <h2 class="visible-lg visible-md hidden-sm">Control Lighting</h2>
              <h4 class="hidden-lg hidden-md">Control Lighting</h4>
							<p class="description">
                You have the opportunity to watch over your home from anywhere and at any time of day or night. A smart house has excellent video quality, live streaming and two-way audio.
              </p>
              <button class="btn btn-primary btn-round">
                Read More
              </button>
						</div>
					</div>
				</div>

				<div class="col-md-5">
								<img class="img img-responsive" src="assets/img/home/home-3.png">
							<!-- <div class="ripple-container"></div> -->
					<!-- <div class="card card-background" style="background-image: url('assets/img/home/home-3.png')">
						<a href="#pablo">
						</a>
						<div class="card-content">
							
						
						</div>
					</div> -->
        </div>     
			</div>

		</div>
  </div><br>
  <br>
  <div class="container helpLine">
      <div class="row text-center">
            <h3><span style='border:2px black solid; font-size:42px;'>OUR SOLUTIONS</span></h3>
                <div class="col-md-4">
                    <div class="info">
                      <div class="icon icon-info">
                          <i class="material-icons">
                              home
                              </i>
                      </div>
                      <h4 class="info-title">HOME AUTOMATION</h4>
                      <p>You deserve a home that is smart& energy efficient. Our Home Automation solutions complement your busy lifestyle. You could carry on with your work fully sure that everything is fine at home. Be it switching off the geyser or turning on the Aircon – its all at your finger tips. Launch the ELEGANT LIFE Home Automation app and control all the critical appliances and lighting in your home.</p>
                    </div>
                  </div>
          
                  <div class="col-md-4">
                    <div class="info">
                      <div class="icon icon-success">
                        <i class="fas fa-building"></i>
                      </div>
                      <h4 class="info-title">BUILDING AUTOMATION</h4>
<p>Facility Management could be a challenge in medium and large buildings. ELEGANT LIFE Smart Building Solution helps to automate, monitor and control lighting, water supply, fire safety, etc,. With our SmartBuilding control app, you are now free to move around anywhere in the building and still keep a tab on what is going on.</p>                    </div>
                  </div>
          
                  <div class="col-md-4">
                    <div class="info">
                      <div class="icon icon-danger">
                        <i class="fab fa-accusoft"></i>
                      </div>
                      <h4 class="info-title">INDUSTRIAL AUTOMATION</h4>
<p>ELEGANT LIFE Smart Factory automation solution helps industries to implement advanced automation solutions in manufacturing process lines. Our advanced image analysis system helps you to precisely identify and separate defective components.</p>                    </div>
                  </div>
                </div>

                <div class="row text-center">
                      <div class="col-md-4">
                            <div class="info">
                              <div class="icon icon-info">
                                <i class="fas fa-asterisk"></i>
                              </div>
                              <h4 class="info-title">RETAIL AUTOMATION</h4>
<p>Retail companies are constantly looking at balancing customer satisfaction with higher operational efficiency. ELEGANT LIFE Smart Retail automation solution helps you to achieve just that. Our solution helps you in automating product procurement to billing.

  READ MORE</p>                            </div>
                          </div>
                  
                          <div class="col-md-4">
                            <div class="info">
                              <i class="fas fa-city fa-5x"></i>
                              <h4 class="info-title">CITY AUTOMATION</h4>
<p>With the growth in urban population, demand for efficient management of public services is on the rise. Our ELEGANT LIFE Smart City automation solution helps Governments to smartly manage Public Infrastructure in cities with greater efficiency. It not only helps general public but also helps cities to become more user friendly & energy efficient.</p>                          </div>
                  </div>
                          <div class="col-md-4">
                            <div class="info">
                              <i class="fas fa-car fa-5x"></i>
                              <h4 class="info-title">MACHINE LEARNING</h4>
        <p>ELEGANT LIFE Smart Factory automation solution helps industries to implement advanced automation solutions in manufacturing process lines. Our advanced image analysis system helps you to precisely identify and separate defective components.</p>                    </div>
                          </div>
                        
  </div>   
  <div class="testimonials-2 section-dark">

      <div class="container helpLine">
  
        <div class="row" style="color: white">
            <h2 class="visible-lg visible-md hidden-sm text-center">WHAT CLIENTS SAY ABOUT US</h2>
            <h4 class="hidden-lg hidden-md text-center">Happy House Owners <br>
                About Us</h4>
  
          <div id="carousel-testimonial" class="carousel slide" data-ride="carousel">
  
            <div class="carousel-inner" role="listbox">
              <div class="item active left">
                <div class="card card-testimonial card-plain">
                  <div class="card-avatar">
                    <a href="#pablo">
                      <img class="img" src="assets/img/faces/kendall.jpg">
                    </a>
                  </div>
  
                  <div class="card-content">
                    <h5 class="card-description">"It has been 2 months now since ELEGANT LIFE automated our home.The installation process was simple.The engineers wew very supportive and knowledgeable.I received quotaions from various home automation companies and selecting ELEGANT LIFE was a no brainer.We are really happy with the descision and are definitely enjoying the benifits of onnected device.I feel the mode and schedule features of the system are really useful and we are already looking at a reduction in electricity bill.i would definitely recommend them to my fridend and family"
                    </h5>
                    <h4 class="card-title">Kendall Thompson</h4>
                    <h6 class="category text-muted">CEO @ Marketing Digital Ltd.</h6>
                    <div class="footer">
                      <i class="material-icons text-warning">star</i>
                      <i class="material-icons text-warning">star</i>
                      <i class="material-icons text-warning">star</i>
                      <i class="material-icons text-warning">star</i>
                      <i class="material-icons text-warning">star</i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item next left">
                <div class="card card-testimonial card-plain">
                  <div class="card-avatar">
                    <a href="#pablo">
                      <img class="img" src="assets/img/faces/christian.jpg">
                    </a>
                  </div>
  
                  <div class="card-content">
                    <h5 class="card-description">"A few months back we were facing some security issuse in our locality.Even though there was not an event of theft it was always a concern for me since unknown people were roaming around in our neighborhood.My friends recommended CCTV Cameras but I was looking for something that can notify me when there was unauthorized entry.After some research,i got to konw about the home automation & security system from ELEGANT LIFE.I got in touch with them and one of theri representatives clearly explained me how i can secure my home"
                    </h5>
                    <h4 class="card-title">Christian Louboutin</h4>
                    <h6 class="category text-muted">Designer @ Louboutin &amp; Co.</h6>
                    <div class="footer">
                      <i class="material-icons text-warning">star</i>
                      <i class="material-icons text-warning">star</i>
                      <i class="material-icons text-warning">star</i>
                      <i class="material-icons text-warning">star</i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <a class="left carousel-control" href="#carousel-testimonial" role="button" data-slide="prev">
              <i class="material-icons" aria-hidden="true">chevron_left</i>
            </a>
            <a class="right carousel-control" href="#carousel-testimonial" role="button" data-slide="next">
              <i class="material-icons" aria-hidden="true">chevron_right</i>
            </a>
          </div>
  
        </div>
  
      </div>
    </div>        