<div class="header-3">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <div class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
        <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item">
          <div class="page-header header-filter" style="background-image: url('assets/img/home/slide-1.jpg');height: 450px;;">

            <div class="container">
              <div class="row">
                <div class="col-md-6 text-left">
                  <h5>WE ARE ALL ABOUT</h5>
                  <h1>Create a safe and
                    <br>Happy Life</h1>
                  <div class="buttons">
                    <a href="#pablo" class="btn btn-primary btn-lg">
                      REQUEST A HOME TOUR
                    </a>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="item active">
          <div class="page-header header-filter" style="background-image: url('assets/img/home/slide-2.jpg');height: 450px;">

            <div class="container">
              <div class="row">
                <div class="col-md-6 text-left">
                  <h5>WE ARE ALL ABOUT</h5>
                  <h1>Improving your
                    <br>Quality of Life</h1>
                  <div class="buttons">
                    <a href="#pablo" class="btn btn-primary btn-lg">
                      REQUEST A HOME TOUR
                    </a>
                  </div>

                </div>
              </div>
            </div>

          </div>

        </div>

      </div>

      <!-- Controls -->
      <!-- <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <i class="material-icons">keyboard_arrow_left</i>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <i class="material-icons">keyboard_arrow_right</i>
    </a> -->
    </div>
  </div>

</div>
<div class="pricing-5 section-gray helpLineBody" id="pricing-5">
  <div class="container helpLine">
    <div class="row">
       <div class="col-md-5 col-sm-5 text-center">
         <h3>Need Help?Get a call back</h3>
       </div>
       <!-- <div class="col-md-1 col-sm-1 text-right">
        
       </div> -->
       <div class="col-md-4 col-sm-4 text-center iconCall">
          <a href="index.html">
							<i class="material-icons">call</i> Call 123-234-12
						<div class="ripple-container"></div></a>
       </div>
       <div class="col-md-3 col-sm-3 text-center">
          <div class="buttons">
              <a href="#pablo" class="btn btn-lg">
              call back
              </a>
            </div>
       </div>

    </div>
  </div>
</div>
<div class="pricing-5 section-gray" id="pricing-5">
    <div class="container helpLine">
      <div class="row">
          <div class="col-md-6">
							<div class="card card-plain card-blog">
								<div class="card-image">
									<a href="#pablo">
										<img class="img img-raised" src="assets/img/home/home-1.jpg">
									</a>
								<div class="colored-shadow" style="background-image: url(&quot;assets/img/home/home-1.jpg&quot;); opacity: 1;"></div></div>

								<div class="card-content">
									<h6 class="category text-info">WELCOME TO SMART HOME SYSTEMS</h6>
									<h2 class="card-title">
										<a href="#pablo">Make Your Home Smarter</a>
									</h2>
									<p class="card-description">
                      You have the opportunity to watch over your home from anywhere and at any time of day or night. A smart house has excellent video quality, live streaming and two-way audio..<a href="#pablo"> Read More </a>
									</p>
								</div>
							</div>
            </div>
            <div class="col-md-6 FeaturesCards">
                <div class="row">
                  <div class="col-md-6">
                      <div class="card card-pricing card-raised">
                          <div class="card-content">
                            <div class="icon">
                                <i class="material-icons">
                                    camera_enhance
                                    </i>
                            </div>
                            <h3 class="card-title">Security &<br>
                                Surveillance</h3>
                          </div>
                        </div>
                  </div>
                  <div class="col-md-6">
                      <div class="card card-pricing card-raised">
                          <div class="card-content">
                            <div class="icon">
                                <i class="material-icons">
                                    cloud_queue
                                    </i>
                            </div>
                            <h3 class="card-title">Free Cloud<br>
                              Recording</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-pricing card-raised">
                            <div class="card-content">
                              <div class="icon">
                                  <i class="material-icons">
                                      notification_important
                                      </i>
                              </div>
                              <h3 class="card-title">Smart<br>
                                Alerts</h3>
                            </div>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="card card-pricing card-raised">
                              <div class="card-content">
                                <div class="icon">
                                    <i class="material-icons">
                                        computer
                                        </i>
                                </div>
                                <h3 class="card-title">24x7<br>
                                    Monitoring</h3>
                               </div>
                            </div>
                        </div>
                </div>
            </div>
      </div>
    </div>
 </div>
 <div class="container helpLine">
    <div class="row">
        <h5 class="text-center">HOW IT WORKS</h5>
        <h2 class="visible-lg visible-md hidden-sm text-center">Smart Home Security<br> 
          Like Never Before</h2>
        <h4 class="hidden-lg hidden-md text-center">Smart Home Security <br>
          Like Never Before</h4>
        <div class="col-md-12 text-center">
          <img class="img img-responsive img-raised" src="assets/img/home/home-2.jpg" alt="">
            <!-- <div class="page-header header-filter" style="background-image: url('assets/img/home/home-2.jpg');">
              <div class="container">
                  <div class="row">
          
                  </div>
              </div>
          </div> -->
        </div>
    </div>
 </div>
 <div class="projects-4 section-gray" id="projects-4">

		<div class="container helpLine">
			<!-- <div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<h2 class="title">Some of Our Awesome Projects - 4</h2>
					<h5 class="description">This is the paragraph where you can write more details about your projects. Keep you user engaged by providing meaningful information.</h5>
					<div class="section-space"></div>
				</div>
			</div> -->
			<div class="row">

				<div class="col-md-5 col-md-offset-1">

					<div class="info info-horizontal">
						<div class="description">
              <h5 class="">WELCOME</h5>
              <h2 class="visible-lg visible-md hidden-sm">Control Lighting</h2>
              <h4 class="hidden-lg hidden-md">Control Lighting</h4>
							<p class="description">
                You have the opportunity to watch over your home from anywhere and at any time of day or night. A smart house has excellent video quality, live streaming and two-way audio.
              </p>
              <button class="btn btn-primary btn-round">
                Read More
              </button>
						</div>
					</div>
				</div>

				<div class="col-md-5">
								<img class="img img-responsive" src="assets/img/home/home-3.png">
							<!-- <div class="ripple-container"></div> -->
					<!-- <div class="card card-background" style="background-image: url('assets/img/home/home-3.png')">
						<a href="#pablo">
						</a>
						<div class="card-content">
							
						
						</div>
					</div> -->
        </div>     
			</div>

		</div>
  </div>
  <div class="container helpLine">
      <div class="row text-center">
          <h5 class="text-center">
              MANAGE YOUR SMART HOUSE FROM ANYWHERE EASILY</h5>
          <h2 class="visible-lg visible-md hidden-sm text-center">Three Ways to Control 
              Your Home</h2>
          <h4 class="hidden-lg hidden-md text-center">Three Ways to Control 
              Your Home </h4>
                  <div class="col-md-4">
                    <div class="info">
                      <div class="icon icon-info">
                          <i class="material-icons">
                              home
                              </i>
                      </div>
                      <h4 class="info-title">Home Control</h4>
                      <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                    </div>
                  </div>
          
                  <div class="col-md-4">
                    <div class="info">
                      <div class="icon icon-success">
                          <i class="material-icons">
                              record_voice_over
                              </i>
                      </div>
                      <h4 class="info-title">Remote Voice Control</h4>
                      <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                    </div>
                  </div>
          
                  <div class="col-md-4">
                    <div class="info">
                      <div class="icon icon-danger">
                          <i class="material-icons">
                              phone_android
                              </i>
                      </div>
                      <h4 class="info-title">Mobile App Control</h4>
                      <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                    </div>
                  </div>
                </div>
  </div>   
  <div class="testimonials-2 section-dark">

      <div class="container helpLine">
  
        <div class="row" style="color: white">
            <h2 class="visible-lg visible-md hidden-sm text-center">Happy House Owners <br>
                About Us</h2>
            <h4 class="hidden-lg hidden-md text-center">Happy House Owners <br>
                About Us</h4>
  
          <div id="carousel-testimonial" class="carousel slide" data-ride="carousel">
  
            <div class="carousel-inner" role="listbox">
              <div class="item active left">
                <div class="card card-testimonial card-plain">
                  <div class="card-avatar">
                    <a href="#pablo">
                      <img class="img" src="assets/img/faces/kendall.jpg">
                    </a>
                  </div>
  
                  <div class="card-content">
                    <h5 class="card-description">"I speak yell scream directly at the old guard on behalf of the future. I gotta say at that time I’d like to meet Kanye I speak yell scream directly at the old guard on behalf of the future. My brother Chance!!! <br>Thank you for letting me work on this masterpiece. One of my favorite people."
                    </h5>
                    <h4 class="card-title">Kendall Thompson</h4>
                    <h6 class="category text-muted">CEO @ Marketing Digital Ltd.</h6>
                    <div class="footer">
                      <i class="material-icons text-warning">star</i>
                      <i class="material-icons text-warning">star</i>
                      <i class="material-icons text-warning">star</i>
                      <i class="material-icons text-warning">star</i>
                      <i class="material-icons text-warning">star</i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item next left">
                <div class="card card-testimonial card-plain">
                  <div class="card-avatar">
                    <a href="#pablo">
                      <img class="img" src="assets/img/faces/christian.jpg">
                    </a>
                  </div>
  
                  <div class="card-content">
                    <h5 class="card-description">"Thank you Anna for the invite thank you to the whole Vogue team Called I Miss the Old Kanye At the God's last game Chop up the soul Kanye. I promise I will never let the people down. I want a better life for all!!! Pablo Pablo Pablo Pablo! Thank you Anna for the invite thank you to the whole Vogue team."
                    </h5>
                    <h4 class="card-title">Christian Louboutin</h4>
                    <h6 class="category text-muted">Designer @ Louboutin &amp; Co.</h6>
                    <div class="footer">
                      <i class="material-icons text-warning">star</i>
                      <i class="material-icons text-warning">star</i>
                      <i class="material-icons text-warning">star</i>
                      <i class="material-icons text-warning">star</i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <a class="left carousel-control" href="#carousel-testimonial" role="button" data-slide="prev">
              <i class="material-icons" aria-hidden="true">chevron_left</i>
            </a>
            <a class="right carousel-control" href="#carousel-testimonial" role="button" data-slide="next">
              <i class="material-icons" aria-hidden="true">chevron_right</i>
            </a>
          </div>
  
        </div>
  
      </div>
    </div>        